@using CMS.Models
@inject IHttpContextAccessor _httpContextAccessor
@model BALibrary.Medical.Session
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
    string pageName = ViewContext.RouteData.Values["controller"].ToString();
    string areaName = ViewContext.RouteData.Values["area"].ToString();
    int userRoleId = Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId));

}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Docter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Docter.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionStatus.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="PatientId" class="form-control" value="@Model.PatientId"/>
        <input type="hidden" name="LeaveDate" class="form-control" value="@DateTime.Today"/>
        <input type="hidden" name="SessionId" class="form-control" value="@Model.Id"/>
        <input type="submit" value="End" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
