@using CMS.Models
@inject IHttpContextAccessor _httpContextAccessor
@model IEnumerable<BALibrary.Medical.Session>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
    string pageName = ViewContext.RouteData.Values["controller"].ToString();
    string areaName = ViewContext.RouteData.Values["area"].ToString();
    int userRoleId = Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId));

}

<br />

<table id="datatable3"class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionStatus)
            </th>
            <th>
                Add Patient triage
            </th>
            <th>
                Add Lab Request
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docter.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionStatus.Name)
            </td>
            <td>
                @if(item.SessionStatus.Name.ToLower() != "ended")
                {
                    @if(Common.isAuthorized(userRoleId,"Triage","PatientTriages", "Create"))
                    {
                        <a asp-area="Triage" asp-Controller="PatientTriages" asp-action="Create" asp-route-id="@item.Id">Add</a>
                    }                    
                }                
            </td>
            <td>
                @if(item.SessionStatus.Name.ToLower() != "ended")
                {
                    @if(Common.isAuthorized(userRoleId,areaName,"LabRequests","Create"))
                    {
                        <a asp-Controller="LabRequests" asp-action="Create" asp-route-id="@item.Id">Add</a>
                    }                    
                }                
            </td>
            <td>
                
                @if (item.SessionStatus.Name.ToLower() != "ended")
                {
                    @if(Common.isAuthorized(userRoleId,areaName,pageName,"Edit"))
                    {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    }<span>|</span>
                    @if(Common.isAuthorized(userRoleId,areaName,pageName,"Details"))
                    {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    }<span>|</span>
                    @if(Common.isAuthorized(userRoleId,areaName,pageName,"Delete"))
                    {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }else
                {
                    @if(Common.isAuthorized(userRoleId,areaName,pageName,"Details"))
                    {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
