@inject IHttpContextAccessor _httpContextAccessor;
@using CMS.Models
@model IEnumerable<BALibrary.Patient.PatientList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
    string pageName = ViewContext.RouteData.Values["controller"].ToString();
    string areaName = ViewContext.RouteData.Values["area"].ToString();
    int userRoleId = Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId));

}
<br />
@if (Common.isAuthorized(userRoleId,areaName,pageName,"Create"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}

<table id="datatable3" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                Add Session
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @if (Common.isAuthorized(userRoleId, "Medical", "Sessions", "Create"))
                {
                    <a asp-area="Medical" asp-controller="Sessions" asp-action="Create" asp-route-id="@item.Id">Add</a>
                }else{
                    <span>Not Authorized</span>
                }
                
            </td>
            <td>
                @if (Common.isAuthorized(userRoleId,areaName,pageName,"Edite"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                @if (Common.isAuthorized(userRoleId,areaName,pageName,"Details"))
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                }
                @if (Common.isAuthorized(userRoleId,areaName,pageName,"Delete"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            
            </td>
        </tr>
}
    </tbody>
</table>
