@using CMS.Models
@inject IHttpContextAccessor _httpContextAccessor
@model BALibrary.Payment.LabPayment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
    string pageName = ViewContext.RouteData.Values["controller"].ToString();
    string areaName = ViewContext.RouteData.Values["area"].ToString();
    int userRoleId = Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId));

}

<h1>Details</h1>

<div>
    <h4>LabPayment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabRequest.Id)
        </dd>
    </dl>
</div>
@if (Common.isAuthorized(userRoleId, areaName, "LabPaymentDetails", "Create"))
{
    <dl class="row">
        <dt class="col-sm-2">
            More Details
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="LabPaymentDetails" asp-action="Create" asp-route-id="@Model.Id">Add Detail</a>
        </dd>
    </dl>
}

<div>
    More Detail
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Amount
            </th>
            <th>
                Reason
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Detail)
        {
            <tr>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.Reason
                </td>
                <td>
                    @if (Common.isAuthorized(userRoleId, areaName, "LabPaymentDetails", "Edit"))
                    {
                        <a asp-controller="LabPaymentDetails" asp-action="Edit" asp-route-id="@item.Id">Edit</a><span>|</span>
                    }
                    @if (Common.isAuthorized(userRoleId, areaName, "LabPaymentDetails", "Details"))
                    {
                        <a asp-controller="LabPaymentDetails" asp-action="Details" asp-route-id="@item.Id">Details</a><span>|</span>
                    }
                    @if (Common.isAuthorized(userRoleId, areaName, "LabPaymentDetails", "Delete"))
                    {
                        <a asp-controller="LabPaymentDetails" asp-action="Delete" asp-route-id="@item.Id">Delete</a><span>|</span>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @if (Common.isAuthorized(userRoleId, areaName, pageName, "Edit"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a><span>|</span>
    }
    @if(Common.isAuthorized(userRoleId,areaName,pageName, "Index"))
    {
        <a asp-action="Index">Back to List</a>
    }
    @if (Common.isAuthorized(userRoleId, "Medical", "Sessions", "Details"))
    {
        <a asp-area="Medical" asp-controller="Sessions" asp-action="Details" asp-route-id="@Model.LabRequest.Session.Id">Back to Sessions</a>
    }

</div>
