@using CMS.Models
@inject IHttpContextAccessor _httpContextAccessor
@model BALibrary.Payment.CardPayment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
    string pageName = ViewContext.RouteData.Values["controller"].ToString();
    string areaName = ViewContext.RouteData.Values["area"].ToString();
    int userRoleId = Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId));

}

<h1>Details</h1>

<div>
    <h4>CardPayment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.Id)
        </dd>
    </dl>
</div>
<div>
    @if (Common.isAuthorized(userRoleId, areaName, pageName, "Edit"))
    {
       <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }|
    <a asp-action="Index">Back to List</a>
</div>
